.navbar {
    background-color:#152939;
}

.input-group-inline {
    width: 25% !important;

}

.tab-content {
    height: 60%;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    top: 88px;
}

.msgWrap {
    height:300px;
    width: 100%;
    position: absolute;
    bottom: 60px;

}

#ResultLabel {
    position: relative;
    top: -10px;
    text-align: center;
}

.msgBox {
    position: relative;
    height: 100%;
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

.navbar-brand {
    color: white;
}
#parent {
    position: relative;
    width: 30%;
    height: 30%;
    margin: 0 auto;
    top: 60px;
}

.carousel-control-next, .carousel-control-prev {
    color: black;
    z-index: 2;
}

.msg {
    top: 60px;
    height: 22%;
}

form {
    text-align: center !important;
}